<form method="post" action="{{ path('app_chaine_delete', {'id': chaine.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ chaine.id) }}">
    <button class="btn">Delete</button>
</form>
